
/*
 * Copyright (c) 2020 The ZMK Contributors
 * Copyright (c) 2023 Innaworks Development Limited, trading as MoErgo
 *
 * SPDX-License-Identifier: MIT
 */


#include <behaviors.dtsi>
/* Include all behavior includes needed */
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/rgb_colors.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb_colors.h>

#define HYPER LC(LS(LG(LALT)))
#define HYPR(KC) LC(LS(LG(LA(KC))))

#define HYPER_W LC(LS(LG(LA(W))))
#define HYPER_E LC(LS(LG(LA(E))))
#define HYPER_UP LC(LS(LG(LA(UP))))

#define LH(layer, keycode) &layer_hold layer keycode
#define BRIUP C_BRI_UP
#define BRIDN C_BRI_DN
#define VOLUP C_VOL_UP
#define VOLDN C_VOL_DN
#define LOCK LG(LC(Q))
#define LANG LC(LS(LG(LA(SPACE))))

#define LEFT_HAND_KEYS      \
      0  1  2  3  4         \
     10 11 12 13 14 15      \
     22 23 24 25 26 27      \
     34 35 36 37 38 39      \
     46 47 48 49 50 51      \
     64 65 66 67 68
#define                              RIGHT_HAND_KEYS \
                                       5  6  7  8  9 \
                                   16 17 18 19 20 21 \
                                   28 29 30 31 32 33 \
                                   40 41 42 43 44 45 \
                                   58 59 60 61 62 63 \
                                      75 76 77 78 79
#define THUMB_KEYS          \
                    69 52       57 74                \
                     70 53     56 73                 \
                      71 54   55 72

#define TAPPING_TERM_MS 200
#define QUICK_TAP_MS 220
#define PRIOR_IDLE_MS 180

//
// Base layers.
//
#define MAC 0        // Default layer
#define LOWER 1      // Generic lowest layer
//#define LINUX 10   // Linux keys
//
// Workflow layers.
//
#define PHOTOSHOP 2  // Photoshop
#define BLENDER 3    // Blender
//#define BLDR2 40   // Blender 2nd layer
//#define BLNM 50    // Blender number input layer
//#define CODE 60    // Used for programming. Slight variation on the MAC layer.
//
// Utility layers.
//
#define SYMB 4       // symbols
#define GAMING 5     // gaming
//#define NUMS 80    // Turns num keys into numbers
//#define MDIA 90    // media keys
//#define MVMT 100   // Cursor movement and selection
#define HIGHER 6     // Generic highest layer
#define MAGIC 7      // Keyboard-specific config keys

/* To deal with the situation where there is no Lower layer, to keep &lower happy */
#ifndef LOWER
#define LOWER 1
#endif

/* Custom Device-tree */
/* Empty underglow layer definition (for copy-paste)
        mylayer {
            layer-id = <LAYER_Name>;
            bindings = <
                &ug ___ &ug ___ &ug ___ &ug ___ &ug ___                                                                  &ug ___ &ug ___ &ug ___ &ug ___ &ug ___
                &ug ___ &ug ___ &ug ___ &ug ___ &ug ___ &ug ___                                                  &ug ___ &ug ___ &ug ___ &ug ___ &ug ___ &ug ___
                &ug ___ &ug ___ &ug ___ &ug ___ &ug ___ &ug ___                                                  &ug ___ &ug ___ &ug ___ &ug ___ &ug ___ &ug ___
                &ug ___ &ug ___ &ug ___ &ug ___ &ug ___ &ug ___                                                  &ug ___ &ug ___ &ug ___ &ug ___ &ug ___ &ug ___
                &ug ___ &ug ___ &ug ___ &ug ___ &ug ___ &ug ___ &ug ___ &ug ___ &ug ___  &ug ___ &ug ___ &ug ___ &ug ___ &ug ___ &ug ___ &ug ___ &ug ___ &ug ___
                &ug ___ &ug ___ &ug ___ &ug ___ &ug ___         &ug ___ &ug ___ &ug ___  &ug ___ &ug ___ &ug ___         &ug ___ &ug ___ &ug ___ &ug ___ &ug ___
                >;
        };
*/
/ {
    underglow-layer {
        compatible  = "zmk,underglow-layer";

        lower {
            layer-id = <LOWER>;
            bindings = <
                GREEN  ______ ______ ______ ______                                                          ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______                                            ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______                                            ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______                                            ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______ ______ ______ ______  ______ ______ ______ ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______        ______ ______ ______  ______ ______ ______        ______ ______ ______ ______ ______
                >;
        };

        photoshop {
            layer-id = <PHOTOSHOP>;
            bindings = <
                BLUE   ______ ______ ______ ______                                                          ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______                                            ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______                                            ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______                                            ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______ ______ ______ ______  ______ ______ ______ ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______        ______ ______ ______  ______ ______ ______        ______ ______ ______ ______ ______
                >;
        };
        blender {
            layer-id = <BLENDER>;
            bindings = <
                GOLD   ______ ______ ______ ______                                                          ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______                                            ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______                                            ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______                                            ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______ ______ ______ ______  ______ ______ ______ ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______        ______ ______ ______  ______ ______ ______        ______ ______ ______ ______ ______
                >;
        };
        symbol {
            layer-id = <SYMB>;
            bindings = <
                ORANGE ______ ______ ______ ______                                                          ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______                                            ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______                                            ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______                                            ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______ ______ ______ ______  ______ ______ ______ ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______        ______ ______ ______  ______ ______ ______        ______ ______ ______ ______ ______
                >;
        };
        gaming {
            layer-id = <GAMING>;
            bindings = <
                GREEN  ______ ______ ______ ______                                                          ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______                                            ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______                                            ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______                                            ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______ ______ ______ ______  ______ ______ ______ ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______        ______ ______ ______  ______ ______ ______        ______ ______ ______ ______ ______
                >;
        };
        higher {
            layer-id = <HIGHER>;
            bindings = <
                PURPLE ______ ______ ______ ______                                                          ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______                                            ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______                                            ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______                                            ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______ ______ ______ ______ ______  ______ ______ ______ ______ ______ ______ ______ ______ ______
                ______ ______ ______ ______ ______        ______ ______ ______  ______ ______ ______        ______ ______ ______ ______ ______
                >;
        };
    };
};

// Deep Sleep support
/ {
    kscan: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;
    };
};

/* Glove80 system behavior & macros */
/ {
    behaviors {
        // For the "layer" key, it'd nice to be able to use it as either a shift or a toggle.
        // Configure it as a tap dance, so the first tap (or hold) is a &mo and the second tap is a &to
        lower: lower {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_TAP_DANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo LOWER>, <&to LOWER>;
        };
    };
};

/ {
    macros {
        rgb_ug_status_macro: rgb_ug_status_macro {
            label = "RGB_UG_STATUS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&rgb_ug RGB_STATUS>;
        };
    };
};


/ {
#ifdef BT_DISC_CMD
    behaviors {
        bt_0: bt_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "BT_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt_select_0>, <&bt BT_DISC 0>;
        };
        bt_1: bt_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "BT_1";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt_select_1>, <&bt BT_DISC 1>;
        };
        bt_2: bt_2 {
            compatible = "zmk,behavior-tap-dance";
            label = "BT_2";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt_select_2>, <&bt BT_DISC 2>;
        };
        bt_3: bt_3 {
            compatible = "zmk,behavior-tap-dance";
            label = "BT_3";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt_select_3>, <&bt BT_DISC 3>;
        };
    };
    macros {
        bt_select_0: bt_select_0 {
            label = "BT_SELECT_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 0>;
        };
        bt_select_1: bt_select_1 {
            label = "BT_SELECT_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 1>;
        };
        bt_select_2: bt_select_2 {
            label = "BT_SELECT_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 2>;
        };
        bt_select_3: bt_select_3 {
            label = "BT_SELECT_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 3>;
        };
    };
#else
    macros {
        bt_0: bt_0 {
            label = "BT_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 0>;
        };
        bt_1: bt_1 {
            label = "BT_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 1>;
        };
        bt_2: bt_2 {
            label = "BT_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 2>;
        };
        bt_3: bt_3 {
            label = "BT_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 3>;
        };
    };
#endif
};

/ {
    behaviors {
        magic: magic {
            compatible = "zmk,behavior-hold-tap";
            label = "MAGIC_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&rgb_ug_status_macro>;
        };
    };
};

/* #define for key positions */
#define POS_LH_T1 52
#define POS_LH_T2 53
#define POS_LH_T3 54
#define POS_LH_T4 69
#define POS_LH_T5 70
#define POS_LH_T6 71
#define POS_LH_C1R2 15
#define POS_LH_C1R3 27
#define POS_LH_C1R4 39
#define POS_LH_C1R5 51
#define POS_LH_C2R1 4
#define POS_LH_C2R2 14
#define POS_LH_C2R3 26
#define POS_LH_C2R4 38
#define POS_LH_C2R5 50
#define POS_LH_C2R6 68
#define POS_LH_C3R1 3
#define POS_LH_C3R2 13
#define POS_LH_C3R3 25
#define POS_LH_C3R4 37
#define POS_LH_C3R5 49
#define POS_LH_C3R6 67
#define POS_LH_C4R1 2
#define POS_LH_C4R2 12
#define POS_LH_C4R3 24
#define POS_LH_C4R4 36
#define POS_LH_C4R5 48
#define POS_LH_C4R6 66
#define POS_LH_C5R1 1
#define POS_LH_C5R2 11
#define POS_LH_C5R3 23
#define POS_LH_C5R4 35
#define POS_LH_C5R5 47
#define POS_LH_C5R6 65
#define POS_LH_C6R1 0
#define POS_LH_C6R2 10
#define POS_LH_C6R3 22
#define POS_LH_C6R4 34
#define POS_LH_C6R5 46
#define POS_LH_C6R6 64
#define POS_RH_T1 57
#define POS_RH_T2 56
#define POS_RH_T3 55
#define POS_RH_T4 74
#define POS_RH_T5 73
#define POS_RH_T6 72
#define POS_RH_C1R2 16
#define POS_RH_C1R3 28
#define POS_RH_C1R4 40
#define POS_RH_C1R5 58
#define POS_RH_C2R1 5
#define POS_RH_C2R2 17
#define POS_RH_C2R3 29
#define POS_RH_C2R4 41
#define POS_RH_C2R5 59
#define POS_RH_C2R6 75
#define POS_RH_C3R1 6
#define POS_RH_C3R2 18
#define POS_RH_C3R3 30
#define POS_RH_C3R4 42
#define POS_RH_C3R5 60
#define POS_RH_C3R6 76
#define POS_RH_C4R1 7
#define POS_RH_C4R2 19
#define POS_RH_C4R3 31
#define POS_RH_C4R4 43
#define POS_RH_C4R5 61
#define POS_RH_C4R6 77
#define POS_RH_C5R1 8
#define POS_RH_C5R2 20
#define POS_RH_C5R3 32
#define POS_RH_C5R4 44
#define POS_RH_C5R5 62
#define POS_RH_C5R6 78
#define POS_RH_C6R1 9
#define POS_RH_C6R2 21
#define POS_RH_C6R3 33
#define POS_RH_C6R4 45
#define POS_RH_C6R5 63
#define POS_RH_C6R6 79

/* Custom Defined Behaviors */
/ {
    behaviors {
        lparone: lpar_one {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LPAR>, <&kp N1>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        rparzero: rpar_zero {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RPAR>, <&kp N0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        // thumb and thumbk allow double tapping a key to get repeat on the tap key, while supporting hold triggering a different key or layer.
        thumb: thumb_with_repeat {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_WITH_REPEAT";
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM_MS>;
            quick_tap_ms = <QUICK_TAP_MS>;
            //require-prior-idle-ms = <PRIOR_IDLE_MS>;
            flavor = "balanced";
            bindings = <&mo>, <&kp>;
        };
        thumbk: thumb_keycode_with_repeat {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_KEYCODE_WITH_REPEAT";
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM_MS>;
            quick_tap_ms = <QUICK_TAP_MS>;
            //require-prior-idle-ms = <PRIOR_IDLE_MS>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
        layer_hold: layer_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <1000>;
            bindings = <&to>, <&kp>;
        };
        prev_next: prev_next {
            compatible = "zmk,behavior-tap-dance";
            tapping-term-ms = <TAPPING_TERM_MS>;
            #binding-cells = <0>;
            bindings = <&kp C_PREV>, <&kp C_NEXT>;
        };
        higher: higher {
            compatible = "zmk,behavior-tap-dance";
            tapping-term-ms = <TAPPING_TERM_MS>;
            #binding-cells = <0>;
            bindings = <&mo HIGHER>, <&to HIGHER>;
        };
        photoshop_eraser: photoshop_eraser {
            compatible = "zmk,behavior-hold-tap";
            tapping-term-ms = <125>;
            flavor = "tap-preferred";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };
    };

};

/* Automatically generated macro definitions */
/ {
    macros {
        jetbrains_search: jetbrains_search {
            label = "&JETBRAINS_SEARCH";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <40>;
            wait-ms = <30>;
            bindings = <&kp LSHFT>
                     , <&kp LSHFT>;
        };
    };
};

/* Automatically generated keymap */
/ {
    keymap {
        compatible = "zmk,keymap";

//        layer_Base {
//            bindings = <
//                &kp LGUI        &none  &none   &none   &none                                                                                                    &none      &none   &none     &none          &none
//                &kp ESC         &kp N  &kp N2  &kp N3  &kp N4  &kp N5                                                                                   &kp N6  &kp N7     &kp N8  &kp N9    &kp N0       &kp BSPC
//                &kp TAB         &kp A  &kp Z   &kp F   &kp P   &kp G                                                                                    &kp H   &kp J      &kp K   &kp L           &kp DOT     &kp RA(N8)
//                &kp EQUAL       &kp Q  &kp R   &kp S   &kp T   &kp D                                                                                    &kp U   &kp N      &kp E   &kp I          &kp O   &kp KP_SLASH
//                &kp RA(N5)      &kp W  &kp X   &kp C   &kp V   &kp B  &mt LSHFT N5  &kp LCTRL  &kp LS(LC(LALT))  &kp RALT  &kp RCTRL  &mt RSHFT MINUS   &kp Y   &kp SEMI   &kp M   &kp LS(COMMA)  &kp FSLH  &kp RA(MINUS)
//                &magic MAGIC 0  &none  &none   &none   &none          &kp SPACE     &lower     &kp LALT          &none     &raise          &kp RET              &none      &none   &kp SQT  &kp RBKT       &kp BSLH
//            >;
//        };

        // MEH  = ctrl + shift + alt
        // HYPR = ctrl + shift + alt + gui
        default_layer {
            display-name = "Mac";
            // -----------------------------------------------------------------------------------------------------------------------------------------
            // |  F1   |  F2 |  F3 |  F4  |  F5  |                                                               |  F6   |  F7   |  F8  |   F9  |  F10 |
            // |  =    |  1  |  2  |  3   |  4   |  5   |                                                 |  6   |   7   |   8   |  9   |   0   |   -  |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                                                 |  Y   |   U   |   I   |  O   |   P   |   \  |
            // |  ESC  |  A  |  S  |  D   |  F   |  G   |                                                 |  H   |   J   |   K   |  L   |   ;   |   '  |
            // |   `   |  Z  |  X  |  C   |  V   |  B   | LSHFT | LCTRL | LOWER | | LGUI  | RCTRL | RSHFT |  N   |   M   |   ,   |  .   |   /   | PGUP |
            // | MAGIC | HOME| END | LEFT | RIGHT|      | BSPC  | DEL   | LALT  | | RALT  | RET   | SPACE |      |  UP   | DOWN  |  [   |   ]   | PGDN |

            bindings = <
            LH(PHOTOSHOP, C_MUTE) LH(BLENDER, C_PP) &kp VOLDN  &kp VOLUP &prev_next                                                                                                                      &kp BRIDN &kp BRIUP &kp HYPR(UP) &kp LOCK &kp LANG
            &kp EQUAL             &kp N1            &kp N2     &kp N3    &kp N4    &kp N5                                                                                                         &kp N6 &kp N7    &kp N8    &kp N9   &kp N0    &kp MINUS
            &caps_word            &kp Q             &kp W      &kp E     &kp R     &kp T                                                                                                          &kp Y  &kp U     &kp I     &kp O    &kp P     &kp BSLH
            &mt LSHFT TAB         &kp A             &kp S      &kp D     &kp F     &kp G                                                                                                          &kp H  &kp J     &kp K     &kp L    &kp SEMI  &kp SQT
            &kp GRAVE             &kp Z             &kp X      &kp C     &kp V     &kp B  &kp LGUI            &kp RA(RET)        &kp LSHFT        &kp LCTRL     &kp RALT        &kp RGUI          &kp N  &kp M     &kp COMMA &kp DOT  &kp FSLH  &kp PG_UP
            &magic MAGIC 0        &key_repeat       &kp LBKT   &kp LBRC  &lparone         &thumb HIGHER SPACE &thumbk LCTRL BSPC &thumbk LALT DEL &kp LG(LSHFT) &thumb SYMB RET &thumbk LSHFT ESC        &rparzero &kp RBRC  &kp RBKT &kp EXCL  &kp PG_DN
            >;
        };

        lower_layer {
            display-name = "Lower";
            bindings = <
            &kp C_BRI_DN &kp C_BRI_UP &kp C_PREV &kp C_NEXT &kp C_PP                                                                     &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP  &none           &kp PAUSE_BREAK
            &trans       &none        &none      &none      &none     &kp HOME                                                 &kp LPAR  &kp KP_NUM &kp KP_EQUAL &kp KP_DIVIDE &kp KP_MULTIPLY &kp PSCRN
            &trans       &none        &none      &kp UP     &none     &kp END                                                  &kp RPAR  &kp KP_N7  &kp KP_N8    &kp KP_N9     &kp KP_MINUS    &kp SLCK
            &trans       &kp K_APP    &kp LEFT   &kp DOWN   &kp RIGHT &kp PG_UP                                                &kp PRCNT &kp KP_N4  &kp KP_N5    &kp KP_N6     &kp KP_PLUS     &none
            &trans       &kp K_CMENU  &none      &kp F11    &kp F12   &kp PG_DN &trans &trans &to MAC     &trans &trans &trans &kp COMMA &kp KP_N1  &kp KP_N2    &kp KP_N3     &kp KP_ENTER    &trans
            &trans       &kp CAPS     &kp INS    &kp F11    &kp F12             &trans &trans &trans      &trans &trans &trans           &kp KP_N0  &kp KP_N0    &kp KP_DOT    &kp KP_ENTER    &trans
            >;
        };

//        just to use as a template
//        the reason being that defaulting to &none prevents accidentally activating keys due to active underlying layers being dependent on what layers I've activated at that point in time.
//        template_layer {
//            display-name = "Template";
//            bindings = <
//            &none &none &none &none &none                                                 &none &none &none &none &none
//            &none &none &none &none &none &none                                     &none &none &none &none &none &none
//            &none &none &none &none &none &none                                     &none &none &none &none &none &none
//            &none &none &none &none &none &none                                     &none &none &none &none &none &none
//            &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
//            &none &none &none &none &none       &none &none &none &none &none &none       &none &none &none &none &none
//            >;
//        };

        // Photoshop
        // cmd + d - deselect selection
        // cmd + j - layer via copy
        // cmd + , - hide layer
        // alt + [ - cycle visible layers backward
        // alt + ] - cycle visible layers foreward
        // cmd + t - free transform selection
        // alt + backspace - fill selection with chosen foreground color (the primary color selection)
        // cmd + backspace - fill selection with chosen background color (the secondary color selection)
        // hold grave - erase with current brush
        // cmd + y  - View > Proof Colors (to see color values only)
        // cmd + shift + n - new layer
        // shift - make straight lines
        // ctrl + click - brush selection
        // F5 - brush settings
        // ctrl + alt - click and drag to dynamically change brush/eraser size and hardness (drag left/right for brush size, up/down for hardness)
        // shift + tool shortcut - cycle between tools of that type (between brush and mixer brush, etc.)
        // cmd + ctrl + click - layer selection menu for layers under the mouse cursor
        // cmd + click - select layer for topmost layer under the mouse cursor
        // q - quick mask mode
        // tab - toggle tools (useful for fullscreen mode)
        //
        // My custom shortcuts:
        // cmd + alt + f - Flip Canvas Horizontally
        photoshop_layer {
            display-name = "Photoshop";
            bindings = <
            &kp TAB        &kp LG(LS(N)) &kp LG(X)     &kp LG(C)                 &kp LG(V)                                                                                       &none &none &none &none &none
            &kp DEL        &kp LG(J)     &kp LG(COMMA) &kp LA(RBKT)              &kp LA(LBKT)  &kp Q                                                                       &none &none &none &none &none &none
            &kp ESC        &kp X         &kp LG(D)     &kp SPACE                 &kp LG(Z)     &kp LG(LS(Z))                                                               &none &none &none &none &none &none
            &mt LCTRL F5   &kp L         &kp V         &photoshop_eraser GRAVE E &kp B         &kp LALT                                                                    &none &none &none &none &none &none
            &kp M          &kp LGUI      &kp LG(A)     &kp R                     &kp Z         &kp LG(Y)     &higher      &kp LG(S) &to MAC              &none &none &none &none &none &none &none &none &none
            &magic MAGIC 0 &kp LA(BSPC)  &kp LG(T)     &kp F                     &kp LG(LA(F))               &kp LC(LALT) &kp LSHFT &kp RET              &none &none &none       &none &none &none &none &none
            >;
        };

        // needed: period/dot (median/origin point), p for parenting, n key to open/close tool menu, m to add marker in timeline and join vertices (alt+m), h for hide, j to join
        blender_layer {
            display-name = "Blender";
            bindings = <
            &kp U          &kp J   &kp I  &kp L  &kp N                                                                                        &none &none &none &none &none
            &kp P          &trans  &trans &trans &trans &trans                                                                          &none &none &none &none &none &none
            &mt GRAVE ESC  &trans  &trans &trans &trans &trans                                                                          &none &none &none &none &none &none
            &kp TAB        &trans  &trans &trans &trans &trans                                                                          &none &none &none &none &none &none
            &kp Y          &trans  &trans &trans &trans &trans &higher   &thumb SYMB LC(LA(KP_N0)) &to MAC            &none &none &none &none &none &none &none &none &none
            &magic MAGIC 0 &kp DOT &kp H  &kp O  &kp M         &kp LSHFT &kp LCTL                  &mt LALT SPACE     &none &none &none       &none &none &none &none &none
            >;
        };

        symbol_layer {
            display-name = "Symbol";
            bindings = <
            &none     &none     &none     &none     &none                                                                          &none     &none       &none     &none    &none
            &none     &kp GRAVE &kp LPAR  &kp RPAR  &kp SEMI &kp COMMA                                                    &none    &none     &none       &none     &none    &none
            &kp EXCL  &kp LBRC  &kp SQT   &kp DQT   &kp RBRC &kp QMARK                                                    &kp SEMI &kp RSHFT &kp RCTRL   &kp RALT  &kp RGUI &none
            &kp HASH  &kp CARET &kp EQUAL &kp UNDER &kp DLLR &kp STAR                                                     &kp DOT  &kp BSPC  &kp TAB     &kp SPACE &kp RET  &none
            &kp TILDE &kp LT    &kp PIPE  &kp MINUS &kp GT   &kp FSLH  &kp BSLH  &kp DOT   &kp STAR     &none &none &none &kp FSLH &kp DEL   &kp LS(TAB) &none     &none    &none
            &kp AT    &kp AMPS  &kp LBKT  &kp RBKT  &kp PLUS           &kp PRCNT &kp COLON &kp SEMI     &to 0 &none &none          &trans    &trans      &trans    &trans   &none
            >;
        };

        gaming_layer {
            display-name = "Gaming";
            bindings = <
            &to 0     &trans    &trans &trans &trans                                                                               &trans &trans &trans    &trans  &trans
            &trans    &trans    &trans &trans &trans &trans                                                                 &trans &trans &trans &trans    &trans  &trans
            &kp MINUS &kp GRAVE &kp B  &kp N  &kp M  &kp SQT                                                                &kp B  &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH
            &kp T     &kp TAB   &kp Q  &kp W  &kp E  &kp R                                                                  &kp T  &kp Y  &kp U  &kp I     &kp O   &kp P
            &kp G     &kp LSHFT &kp A  &kp S  &kp D  &kp F   &kp ESC   &kp RET  &kp PAUSE_BREAK     &kp BSPC &kp DEL &trans &kp G  &kp H  &kp J  &kp K     &kp L   &kp SEMI
            &kp V     &kp LCTRL &kp Z  &kp X  &kp C          &kp SPACE &kp LALT &kp LGUI            &to 0    &trans  &trans        &trans &trans &trans    &trans  &trans
            >;
        };

        higher_layer {
            display-name = "Higher";
            bindings = <
            &kp F1         &kp F2       &kp F3          &kp F4        &kp F5                                                                                     &kp F6      &kp F7      &kp F8       &kp F9  &kp F10
            &kp F11        &kp KP_DOT   &kp KP_MULTIPLY &kp KP_DIVIDE &kp KP_EQUAL &kp LPAR                                                             &none    &none       &none       &none        &none   &kp PSCRN
            &kp F12        &kp KP_MINUS &kp KP_N7       &kp KP_N8     &kp KP_N9    &kp RPAR                                                             &none    &kp HYPR(W) &kp HYPR(E) &kp HYPR(UP) &none   &kp SLCK
            &kp F9         &kp KP_PLUS  &kp KP_N4       &kp KP_N5     &kp KP_N6    &kp PRCNT                                                            &kp LEFT &kp DOWN    &kp UP      &kp RIGHT    &none   &to GAMING
            &none          &kp KP_ENTER &kp KP_N1       &kp KP_N2     &kp KP_N3    &kp COMMA &none  &trans &to MAC     &trans        &trans    &kp LGUI &none    &none       &none       &none        &none   &none
            &magic MAGIC 0 &kp KP_ENTER &kp KP_N0       &kp KP_N0     &kp KP_DOT             &trans &trans &trans      &kp LA(LSHFT) &kp LSHFT &kp LALT          &kp SPACE   &kp BSPC    &kp DEL      &kp RET &none
            >;
        };

        magic_layer {
            display-name = "Magic";
            bindings = <
            &bt BT_CLR  &none           &none           &none           &none                                                                                &none &none &none &none &bt BT_CLR_ALL
            &none       &none           &none           &none           &none           &none                                                          &none &none &none &none &none &none
            &none       &rgb_ug RGB_SPI &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_BRI &rgb_ug RGB_TOG                                                &none &none &none &none &none &none
            &bootloader &rgb_ug RGB_SPD &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_BRD &rgb_ug RGB_EFF                                                &none &none &none &none &none &bootloader
            &sys_reset  &none           &none           &none           &none           &none           &bt_2 &bt_3 &to MAC          &none &none &none &none &none &none &none &none &sys_reset
            &none       &none           &none           &none           &none                           &bt_0 &bt_1 &out OUT_USB     &none &none &none       &none &none &none &none &none
            >;
        };

    };
};
